<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.NightDreamGames.Grade.ly">

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:theme="@style/Theme.Grade.ly"
        tools:targetApi="s">

        <activity
            android:name=".Activities.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Grade.ly.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Activities.SubjectActivity"
            android:exported="false"
            android:parentActivityName=".Activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.NightDreamGames.Grade.ly.Activities.MainActivity" />
        </activity>

        <activity
            android:name=".Activities.SettingsActivity"
            android:exported="false"
            android:label="@string/settings">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.NightDreamGames.Grade.ly.Activities.MainActivity" />
        </activity>

        <activity
            android:name=".Activities.SetupActivity"
            android:exported="false"
            android:label="@string/setup">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.NightDreamGames.Grade.ly.Activities.MainActivity" />
        </activity>

        <activity
            android:name=".Activities.CreatorActivity"
            android:exported="false"
            android:label="@string/edit_subjects">
            <intent-filter>
                <action android:name="com.NightDreamGames.Grade.ly.Activities.CreatorActivity" />

                <category android:name="android.support.PARENT_ACTIVITY" />
            </intent-filter>
        </activity>
    </application>

</manifest>